<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"es-ve" }}">
    {% include 'base.head.template.html' %}
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">

            <header class="main-header">
            <!-- Logo -->
                <a href="{% url 'inicio' %}" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini">SPM<b>4</b></span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>SPM4</b></span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu" data-widget="tree">
                        <li class="header">Menú Principal</li>
                        <li><a href="{% url 'inicio' %}"><i class="fa fa-circle-o text-aqua"></i> <span>Inicio</span></a></li>
                        <li><a href="{% url 'parametro' %}"><i class="fa fa-circle-o text-aqua"></i> <span>Consulta por Parámetros</span></a></li>
                        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Consulta Rectangular</span></a></li>
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>{% block content_header_title %}{% trans 'Página Principal' %}{% endblock %}</h1>
                  <ol class="breadcrumb">
                    <li><a href="{% url 'inicio' %}"><i class="fa fa-dashboard"></i> Inicio</a></li>
                    {% block content_header_roadmap %}
                    {% endblock %}
                  </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    {% block contenido %}
                        <div class="box box-info">
                            <div class="box-header text-center">
                                <!--<h3 class="box-title">Título</h3>-->
                            </div>
                            <div class="box-body text-center">
                                <p>Sistema de Consultas del Catálogo de Estrellas SPM4</p>
                            </div>
                        </div>
                    {% endblock %}
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->

            {% include 'base.footer.info.template.html' %}
        </div>
        <!-- ./wrapper -->

        {% include 'base.footer.template.html' %}
        {% block extra_footer %}{% endblock %}
    </body>
</html>
