{% extends 'base.template.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block content_header_title %}{% trans 'Consulta' %}{% endblock %}
{% block contenido %}
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Por Parámetros</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <form role="form" class="form form-horizontal validate-form" method="post" autocomplete="off">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-6 col-sm-6 col-xs-6 control-label" for="{{ form.spmid.auto_id }}">
                              {{ form.spmid.label }}
                            </label>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.spmid_operador }} &nbsp;&nbsp;&nbsp;&nbsp; {{ form.spmid }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                &nbsp;
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.operador_logico_1 }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-6 col-sm-6 col-xs-6 control-label" for="{{ form.ra.auto_id }}">
                              {{ form.ra.label }}
                            </label>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.ra_operador }} &nbsp;&nbsp;&nbsp;&nbsp; {{ form.ra }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                &nbsp;
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.operador_logico_2 }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-6 col-sm-6 col-xs-6 control-label" for="{{ form.dec.auto_id }}">
                              {{ form.dec.label }}
                            </label>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.dec_operador }} &nbsp;&nbsp;&nbsp;&nbsp; {{ form.dec }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                &nbsp;
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.operador_logico_3 }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-6 col-sm-6 col-xs-6 control-label" for="{{ form.era.auto_id }}">
                              {{ form.era.label }}
                            </label>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.era_operador }} &nbsp;&nbsp;&nbsp;&nbsp; {{ form.era }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                &nbsp;
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.operador_logico_4 }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-6 col-sm-6 col-xs-6 control-label" for="{{ form.edec.auto_id }}">
                              {{ form.edec.label }}
                            </label>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.edec_operador }} &nbsp;&nbsp;&nbsp;&nbsp; {{ form.edec }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                &nbsp;
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.operador_logico_5 }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-6 col-sm-6 col-xs-6 control-label" for="{{ form.pma.auto_id }}">
                              {{ form.pma.label }}
                            </label>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.pma_operador }} &nbsp;&nbsp;&nbsp;&nbsp; {{ form.pma }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                &nbsp;
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.operador_logico_6 }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-6 col-sm-6 col-xs-6 control-label" for="{{ form.pmd.auto_id }}">
                              {{ form.pmd.label }}
                            </label>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.pmd_operador }} &nbsp;&nbsp;&nbsp;&nbsp; {{ form.pmd }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                &nbsp;
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.operador_logico_7 }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-6 col-sm-6 col-xs-6 control-label" for="{{ form.epma.auto_id }}">
                              {{ form.epma.label }}
                            </label>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.epma_operador }} &nbsp;&nbsp;&nbsp;&nbsp; {{ form.epma }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                &nbsp;
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.operador_logico_8 }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-6 col-sm-6 col-xs-6 control-label" for="{{ form.epmd.auto_id }}">
                              {{ form.epmd.label }}
                            </label>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.epmd_operador }} &nbsp;&nbsp;&nbsp;&nbsp; {{ form.epmd }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                &nbsp;
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.operador_logico_9 }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-6 col-sm-6 col-xs-6 control-label" for="{{ form.b.auto_id }}">
                              {{ form.b.label }}
                            </label>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.b_operador }} &nbsp;&nbsp;&nbsp;&nbsp; {{ form.b }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                &nbsp;
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.operador_logico_10 }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-6 col-sm-6 col-xs-6 control-label" for="{{ form.v.auto_id }}">
                              {{ form.v.label }}
                            </label>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.v_operador }} &nbsp;&nbsp;&nbsp;&nbsp; {{ form.v }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                &nbsp;
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.operador_logico_11 }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-6 col-sm-6 col-xs-6 control-label" for="{{ form.ibiv.auto_id }}">
                              {{ form.ibiv.label }}
                            </label>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.ibiv_operador }} &nbsp;&nbsp;&nbsp;&nbsp; {{ form.ibiv }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                &nbsp;
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.operador_logico_12 }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-6 col-sm-6 col-xs-6 control-label" for="{{ form.epav.auto_id }}">
                              {{ form.epav.label }}
                            </label>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.epav_operador }} &nbsp;&nbsp;&nbsp;&nbsp; {{ form.epav }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                &nbsp;
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.operador_logico_13 }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-6 col-sm-6 col-xs-6 control-label" for="{{ form.ep1.auto_id }}">
                              {{ form.ep1.label }}
                            </label>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.ep1_operador }} &nbsp;&nbsp;&nbsp;&nbsp; {{ form.ep1 }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                &nbsp;
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.operador_logico_14 }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-6 col-sm-6 col-xs-6 control-label" for="{{ form.ep2.auto_id }}">
                              {{ form.ep2.label }}
                            </label>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.ep2_operador }} &nbsp;&nbsp;&nbsp;&nbsp; {{ form.ep2 }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                &nbsp;
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.operador_logico_15 }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-6 col-sm-6 col-xs-6 control-label" for="{{ form.mp.auto_id }}">
                              {{ form.mp.label }}
                            </label>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.mp_operador }} &nbsp;&nbsp;&nbsp;&nbsp; {{ form.pm }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                &nbsp;
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.operador_logico_16 }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-6 col-sm-6 col-xs-6 control-label" for="{{ form.np.auto_id }}">
                              {{ form.np.label }}
                            </label>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.np_operador }} &nbsp;&nbsp;&nbsp;&nbsp; {{ form.np }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                &nbsp;
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.operador_logico_17 }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-6 col-sm-6 col-xs-6 control-label" for="{{ form.nc.auto_id }}">
                              {{ form.nc.label }}
                            </label>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.nc_operador }} &nbsp;&nbsp;&nbsp;&nbsp; {{ form.nc }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                &nbsp;
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.operador_logico_18 }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-6 col-sm-6 col-xs-6 control-label" for="{{ form.igalicat.auto_id }}">
                              {{ form.igalicat.label }}
                            </label>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.igalicat_operador }} &nbsp;&nbsp;&nbsp;&nbsp; {{ form.igalicat }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                &nbsp;
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.operador_logico_19 }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-6 col-sm-6 col-xs-6 control-label" for="{{ form.j.auto_id }}">
                              {{ form.j.label }}
                            </label>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.j_operador }} &nbsp;&nbsp;&nbsp;&nbsp; {{ form.j }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                &nbsp;
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.operador_logico_20 }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-6 col-sm-6 col-xs-6 control-label" for="{{ form.h.auto_id }}">
                              {{ form.h.label }}
                            </label>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.h_operador }} &nbsp;&nbsp;&nbsp;&nbsp; {{ form.h }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                &nbsp;
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.operador_logico_21 }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-6 col-sm-6 col-xs-6 control-label" for="{{ form.k.auto_id }}">
                              {{ form.k.label }}
                            </label>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.k_operador }} &nbsp;&nbsp;&nbsp;&nbsp; {{ form.k }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-footer clearfix">
                    <button type="submit" class="btn btn-sm btn-info btn-flat pull-right">Consultar</button>
                </div>
                <!-- /.box-footer -->
            </form>
        </div>
        <!-- /.box-body -->
    </div>
{% endblock %}
