{% extends 'base.template.html' %}
{% load static %}
{% load i18n %}
{% block contenido %}
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Resultados</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row box-body table-responsive">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table class="table table-striped table-hover table-bordered display dataTable blue-table" id="tabla">
                        <thead>
                            <tr>
                                <th>{% trans 'SPMID' %}</th>
                                <th>{% trans 'RA' %}</th>
                                <th>{% trans 'DEC' %}</th>
                                <th>{% trans 'ERA' %}</th>
                                <th>{% trans 'EDEC' %}</th>
                                <th>{% trans 'PMA' %}</th>
                                <th>{% trans 'PMD' %}</th>
                                <th>{% trans 'EPMA' %}</th>
                                <th>{% trans 'EPMD' %}</th>
                                <th>{% trans 'B' %}</th>
                                <th>{% trans 'V' %}</th>
                                <th>{% trans 'IBIV' %}</th>
                                <th>{% trans 'EPAV' %}</th>
                                <th>{% trans 'EP1' %}</th>
                                <th>{% trans 'EP2' %}</th>
                                <th>{% trans 'MP' %}</th>
                                <th>{% trans 'NP' %}</th>
                                <th>{% trans 'NC' %}</th>
                                <th>{% trans 'IGALICAT' %}</th>
                                <th>{% trans 'J' %}</th>
                                <th>{% trans 'H' %}</th>
                                <th>{% trans 'K' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for sp in spm4 %}
                            <tr>
                              <td>{{ sp.spmid }}</td>
                              <td>{{ sp.ra }}</td>
                              <td>{{ sp.dec }}</td>
                              <td>{{ sp.era }}</td>
                              <td>{{ sp.edec }}</td>
                              <td>{{ sp.pma }}</td>
                              <td>{{ sp.pmd }}</td>
                              <td>{{ sp.epma }}</td>
                              <td>{{ sp.epmd }}</td>
                              <td>{{ sp.b }}</td>
                              <td>{{ sp.v }}</td>
                              <td>{{ sp.ibiv }}</td>
                              <td>{{ sp.epav }}</td>
                              <td>{{ sp.ep1 }}</td>
                              <td>{{ sp.ep2 }}</td>
                              <td>{{ sp.mp }}</td>
                              <td>{{ sp.np }}</td>
                              <td>{{ sp.nc }}</td>
                              <td>{{ sp.igalicat }}</td>
                              <td>{{ sp.j }}</td>
                              <td>{{ sp.h }}</td>
                              <td>{{ sp.k }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_footer %}
    <script type="text/javascript">
        $(document).ready(function() {
            var tabla= $('#tabla').DataTable({
                "language": {
                  "sProcessing":     "Procesando...",
	                "sLengthMenu":     "Mostrar _MENU_ registros",
	                "sZeroRecords":    "No se encontraron resultados",
	                "sEmptyTable":     "Ningún dato disponible en esta tabla",
	                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
	                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
	                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
	                "sInfoPostFix":    "",
	                "sSearch":         "Buscar:",
	                "sUrl":            "",
	                "sInfoThousands":  ",",
	                "sLoadingRecords": "Cargando...",
	                "oPaginate": {
		                "sFirst":    "Primero",
		                "sLast":     "Último",
		                "sNext":     "Siguiente",
		                "sPrevious": "Anterior"
	                },
	                "oAria": {
		                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
		                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
	                },
                  "decimal": ".",
                },
                //"info": false,
                "paging": false,
                "ordering": false,
                "searching": false,
            });

            /*new $.fn.dataTable.Buttons(tabla, {
            buttons: [
                {
                    extend: 'copyHtml5',
                },
                {
                    extend: 'csvHtml5',
                    fieldBoundary: '',
                },
                {
                    extend: 'excelHtml5',
                },
                {
                    extend: 'pdfHtml5',
                },
                {
                    extend: 'print',
                },
              ],
            });
            tabla.buttons().container().appendTo(tabla.table().container());*/
        });
    </script>
{% endblock %}
